.idea
.history
.vscode
**/.structurizr/*

# Dependency and build-related directories
**/node_modules/
**/dist/
**/build/
**/target
**/types/*
**/.turbo

# Move
**/Move.lock
*.lock
*.coverage_map.mvcov
*.trace
**/traces
**/package_summaries

# Scripts
.env
.publish.res*.json
.template_bytecode.json

# Test data and sensitive information
testnet-setup.sh
testnet-setup.*.sh
**/test-users.json
**/test-users.*.json
**/test-data.json
**/test-data.*.json
**/*secret*
**/*key*
!**/encryption_key_history*
!**/sessionKey*
**/*phrase*
**/*private*
**/*.env*
**/.env*

# Load tests
load-tests/k6/details*.json

.DS_store
CLAUDE.mddocs/
